<style>
    .c-account__icon {
        width: 50%;
        font-family: Inter;
        font-size: 12px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #171717;
    }
</style>

<a href="" class="c-account__icon">Account</a>